# Variables de entorno para producción (Vercel)
# Estas variables deben configurarse en el panel de Vercel

# Configuración de base de datos PostgreSQL (Supabase)
# Usar Session Pooler para conexiones serverless (IPv4)
DB_HOST=aws-0-us-east-1.pooler.supabase.com
DB_PORT=6543
DB_USER=postgres.vxmggzvypaipbegeroxy
DB_PASS=7906aVxM1Jg7VXbP
DB_NAME=postgres

# Zona horaria
TZ=America/Bogota
